<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="static/style.css" type="text/css"/>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CIRADA Visualizer</title>
    </head>

    <body>
        <h1>CIRADA FIRST Data Visualizer</h1>

        <form method="post">
            <label for="ra">Coordinates (<em>in decimal degrees</em>)</label><br>
            <input type="text" name="ra" placeholder="Right Ascention"><br>
            <input type="text" name="dec" placeholder="Declination"><br>
            <input type="text" name="radius" class="radius" placeholder="Radius (optional)"><br>
            <input id="button" type="submit" value="Submit">
        </form>

        <div>
        {% if image %}
            <div class="container">
                <img src="{{ url_for('static', filename=image) }}" />
            </div>
        {% endif %}

        {% if items %}
            <table>
                <tr>
                    <th>Name</th>
                    <th>Right Ascention (deg)</th>
                    <th>Declination (deg)</th>
                    <th title="Integrated Flux Density">Flux (mJy)</th>
                    <th>SDSS Classification</th>
                </tr>
            {% for item in items %}
                <tr>
                    <td>{{item.0}}</td>
                    <td>{{item.1}}</td>
                    <td>{{item.2}}</td>
                    <td>{{item.3}}</td>
                    <td>{{item.4}}</td>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
        </div>

        <p id="footer"><em>Built and maintained by <a href="https://github.com/ttamre">Tem Tamre</a></em></p>
    </body>

</html>